<!-- CONTENU  -->
<main id="ContenuPrincipal">
     
    <div>
        <div>
            <img [src]="urlImg" alt="produit1" id="PrdDetail">
        </div>
        <div class="table">
            <div class="text-style1">{{ titre }}</div>
            <div class="text-style3">{{ prix }} €</div>
            <div class="text-style4">{{ description}}</div>
            <input type="number" id="qte" value="1">
            <div class="text-style2">AJOUTER AU PANIER</div>
        </div>
    </div>
    <app-etoiles></app-etoiles>
    <div class="content table">
        <div class="text-style1">Ingrédients</div>
        <div>{{ingredients}}</div>
    </div>
</main>