/* ************************************************************************************************* */
/* NAVBARRE */
/* ************************************************************************************************* */
#HMenu, .content{
    background-color: var(--miel);
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    width: 100%;
}

#menuToggle {
    margin : 0.7em;
    border : none ;
}

#imenuToggle{
    color : var(--caramel);
    font-size: 2.5em;
}

#HMenu img {
    height: 70px;
    margin: 2rem;
}

#navbarSupportedContent {
    margin-right:1rem;
}

#HMenu a:hover {
    color : var(--chocolatnoir);
    font-size : 1.2em;
    transition: all 0.50s ease-in-out;
}

/*Met en évidence le bouton du menu correspondant à la page affichée */
.active, .panier {
    font-size: 20px;
    font-family: 'Fjalla One';
    margin-top: 10px;
}
    
.panier a {
    color: var(--meringue);
    text-decoration: none;
}

.active a { 
    color : var(--pateasucre);
    text-decoration: none;
}

#header-right {
    display: flex;
    align-items: center;
}

#header-right p {
    margin-left: 20px;
}



/* ************************************************************************************************* */
/* AFFICHAGE POUR LES ECRANS DE TAILLE LG ET PLUS */
/* ************************************************************************************************* */
@media screen and (min-width:992px) {



}