#ContenuPrincipal {
    background-image: linear-gradient(to bottom,var(--caramel),var(--chocolat));
    justify-content : center ;
    align-items : center;
}

#lstProduits{
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
}