
    <!-- CARDS : FICHE PRODUIT-->
    <div id="lstProduits" class="container-fluid">
        <div class="row m-3">
            <div class="card m-3">
                <img [src]="urlImg" class="card-img-top mt-3" [alt]="textAltImg" title="Illustration du produit"/>
                <!--<a routerlink="/detail/{{ idProduit }}"></a>-->
                <div class="card-body">
                    <h1 class="card-title mb-4" [ngStyle]="{opacity: getDispo()}">
                        {{ titreArticle }} 
                    </h1>
                    <p class="card-text">{{ prixArticle }} €</p>
                    <button class = "btn btn-primary">J'aime</button>
                    <p class="card-text">{{ noteArticle}}</p>
                    <a href="#" class="btn btn-warning mt-5" [ngClass]="{'show': dispo===true, 'hidden' :dispo===false}" (click)="onAjouter()">Ajouter au panier</a>
                    <span *ngIf="dispo===false">* Indisponible </span>
                </div>
            </div> <!-- /CARD -->
        </div> <!-- /row -->
    </div> <!-- /col -->
    <div class="height-100 container d-flex justify-content-center align-items-center">