#ContenuPrincipal {
    background-image: linear-gradient(to bottom,var(--caramel),var(--chocolat));
    justify-content : center ;
    align-items : center;
    width: 100%;
    box-shadow: 10px 5px 20px 2px var(--chocolat);
}

.boutique {
    margin-inline: 2rem 1rem;

}