#ContenuPrincipal {
    background-image: linear-gradient(to bottom,var(--caramel),var(--chocolat));
    justify-content : center ;
    align-items : center;
}

.boutique {
    margin-inline: 2rem 1rem;

}

.carousel-item img {
    object-fit: cover;
    max-height: 450px;
    border-radius: 15px 15px 0 0 ;
    border : 5px ridge var(--miel);
  }