<!--HEADER BOOTSTRAP -->
<header id="entetePrincipale" class="container-fluid position-fixed-top m-0 p-0">
    
    <!-- Barre de navigation -->
    <section id="HMenu" class="navbar navbar-expand-md m-0 p-0">        
        
        <!--Accessibilité-->
        <h1 class="accessibility">Menu Principal</h1>
        <p class="accessibility"><a href="#ContenuPrincipal" title="Accéder directement au contenu principal de cette page">Passer le menu</a></p>
        
        <!-- Navbar brand : Logo -->
        <a class="navbar-brand m-0" routerLink="/accueil">
            <img src="assets/images/logo.png" alt="Choco PAP Logo" class="logo"/>
        </a>
  
        <!-- Menu hamburger -->
        <button id="menuToggle" class="navbar-toggler z-index-tooltip" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="onColapse()">
            <span class="" role="button" aria-label="Toggle navigation"><i class="bi bi-list" id="imenuToggle"></i></span> 
        </button>
  
        <!-- Liste des menus -->
         <nav role="navigation" class="collapse navbar-collapse"  id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-0 ">
                <li class="nav-item text-style1" [ngClass]="{'active': pageAffichee === '/accueil'}">
                    <a class="nav-link m-0" routerLink="/accueil">Accueil</a>
                </li>
                <li class="nav-item text-style1" [ngClass]="{'active': pageAffichee === '/boutique'}">
                    <a class="nav-link m-0" routerLink="/boutique">Boutique</a>
                </li>
                <li class="nav-item panier" [ngClass]="{'active': pageAffichee === '/panier'}">
                    <a class="nav-link m-0" routerLink="/panier"> &nbsp;0  &nbsp;<i class="bi bi-cart4" id="panier"></i></a>
                </li>
            </ul>
        </nav>                
    </section>
  </header>
