#ContenuPrincipal {
    background-image: linear-gradient(to bottom,var(--caramel),var(--chocolat));
    justify-content : center ;
    align-items : center;
}

#boutique a:hover {
    color : var(--chocolatnoir);
    font-size : 1.2em;
    transition: all 0.50s ease-in-out;
}