<!-- CONTENU  -->
<main id="ContenuPrincipal">
    <div class="row m-0">
        <!-- FILTRES -->
        <div id="selectProduits" class="col-4">
        </div>

        <!-- LISTE DES PRODUITS -->
        <div id="lstProduits" class="col-8">
            <app-produit
                *ngFor ="let element of liste"
                [idProduit]="element.idProduit"
                [titreArticle]= "element.titreArticle"
                [description]= "element.description"
                [ingredients]= "element.ingredients"
                [prixArticle]= "element.prixArticle"
                [urlImg] = "element.urlImg"
                [textAltImg] ="element.textAltImg"
                [dispo] = "element.dispo" >
            </app-produit>
        </div> <!-- /col -->
    </div> <!-- /row -->
</main>