/* ************************************************************************************************* */
/* NAVBARRE */
/* ************************************************************************************************* */

.App {
    text-align: center;
  }
  
.App-logo {
height: 40vmin;
pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(390deg);
    }
}
  
#menuToggle {
    margin : 0.7em;
    border : none ;
    background-color: transparent;
}

#imenuToggle{
    color : var(--caramel);
    font-size: 2.5em;
}


#HMenu{
    background-color: var(--miel);
    display: flex;
    justify-content: space-between;
    text-align:center;
    width: 100%;
    box-shadow: 10px 5px 20px 2px var(--chocolat);
}

#HMenu a {
    color : var(--meringue);
}

#HMenu a:hover {
    color : var(--miel);
    font-size : 1.2em;
    transition: all 0.50s ease-in-out;
}

#HMenu img {
    height: 70px;
    margin: 2rem;
}

ul {
    list-style-type: none ;
    padding : 0 ;
}

.nav-link{
    width: 100%;
    margin-inline: 10px;
}

.hide {
    display: none;
}

#navbarSupportedContent {
   position: absolute;
   top : 20%;
   width: 95%;
   margin: 5px;
   background-color: var(--pateasucre);
   border-width: 10px;
   border-radius: 2rem;
   box-shadow : inset 0 3px 5px var(--meringue);
}

#navbarSupportedContent li {
    text-align: left;
    border-color: var(--miel);
    padding : 15px;
    background-color: var(--chocolat);
    text-shadow: 2px 2px 5px var(--chocolatnoir);
    line-height: 3;
    border-width: 10px;
    border-radius: 2rem;
    box-shadow : inset 0 3px 5px var(--caramel);
}



/*Met en évidence le bouton du menu correspondant à la page affichée */
.active, .panier {
    font-size: 20px;
    font-family: 'Fjalla One';
    margin-top: 10px;
}

.panier a {
    color: var(--meringue);
    text-decoration: none;
}

.active a { 
    color : var(--pateasucre);
    text-decoration: none;
}



/* ************************************************************************************************* */
/* AFFICHAGE POUR LES ECRANS DE TAILLE MD ET PLUS */
/* ************************************************************************************************* */
@media screen and (min-width:720px) {

    #HMenu{
        opacity: 0.8;
        text-align:right;
    }

    ul {
        width: 100%;
        margin: 15px 0 0 0;
        height: min-content;
    }
    
    #navbarSupportedContent li {
        display: inline-block ;
        background-color: transparent;
        border: none ;
        box-shadow :none;
        margin: 0;
        padding: 0;
    }

    #navbarSupportedContent {
        display: flex;
        position: relative;
        background-color: transparent;
        border: none;
        box-shadow :none;
        margin-right:1rem;
    }

    #navbarSupportedContent a {
        border:none;
        padding : 10px;
        background-color: transparent;
        box-shadow : none ;
    }

    #menuToggle {
        display: none ;
    }

    #HMenu a:hover {
        color : var(--chocolatnoir);
    }


    .nav-link{
        width: auto;
        margin-inline: 0;
    }
     
}
