.navigation{
    margin: 0;
    padding: 0;
}


#carousel-thumbs {
    display: inline-flex;
    justify-content : center ;
    align-items : center;
    background: var(--chocolat);
    margin: 0;
    padding: 10px 50px;
    border-radius: 0 0 15px 15px;
    animation: mymove 10s infinite;
    border : ridge var(--miel);
    border-width: 0 5px 5px 5px;
    width: 45px ;
}

#carousel-thumbs img {
    display: inline;
    width: 115px;
    border: 5px solid transparent;
    border-radius: 15px;
    cursor: pointer;
}

#carousel-thumbs img:hover {
    border-color: var(--miel);
    box-shadow : inset 100px 13px 15px var(--meringue);
    filter : drop-shadow(0 0 10px var(--meringue));
    transition: all 0.70s ease-in-out;
}

#carousel-thumbs .selected img {
    border-color: var(--pateasucre);
}

#carousel-thumbs .selected img:hover {
    border-color: var(--meringue);
}

#carousel-thumbs .row {
    align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}
