/* ************************************************************************************************* */
/* Import des polices d'ecriture utilisées */
/* ************************************************************************************************* */


/* Titre : Fjalla One */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Fjalla+One&display=swap');

/* contenu, trouvé sur https://www.1001fonts.com/droid-serif-font.html */
@font-face {
    font-family :'Droid Serif';
    font-weight: normal;
    font-style: normal;
    src : url('/assets/fonts/DroidSerif.ttf') format('truetype'),
}
@font-face {
    font-family :'Droid Serif';
    font-weight: bold;
    font-style: normal;
    src : url('/assets/fonts/DroidSerif-Bold.ttf') format('truetype'),
}
@font-face {
    font-family :'Droid Serif';
    font-weight: bold;
    font-style: italic;
    src : url('/assets/fonts/DroidSerif-BoldItalic.ttf') format('truetype'),
}
@font-face {
    font-family :'Droid Serif';
    font-weight: normal;
    font-style: italic;
    src : url('/assets/fonts/DroidSerif-Italic.ttf') format('truetype'),
}

/* ************************************************************************************************* */
/* Couleurs du projet */
/* ************************************************************************************************* */
/* Non supporté par tous les navigateurs */
:root{
    --chocolat : #2C1E1E;
    --chocolatnoir : #1F1615 ;
    --caramel : #B65F28;
    --pateasucre : #55C0CF ;
    --miel : #FFD543;
    --meringue : #FFFFFF;
}

/* ************************************************************************************************* */
/* Accessibilité */
/* ************************************************************************************************* */
/* Permet de masquer le texte pour la lecture de texte pour les internautes malvoyants */
.accessibility {
    position : absolute ;
    left : -15000px ; 
}


/* ************************************************************************************************* */
/* GENERAL */
/* ************************************************************************************************* */
html {
    background-color: linear-gradient(to bottom,var(--caramel),var(--chocolat));
}

body {
    background-color: linear-gradient(to bottom,var(--caramel),var(--chocolat));
    height: 100vh;
}

a {
    text-decoration: none;
}

.content {
    background-color: var(--meringue);
    display: flex;
    justify-content: space-between;
}

.text-style1 {
    font-size: 20px;
    font-family: 'Fjalla One';
    margin-top: 10px;
}
    
.text-style1 a {
    color: var(--meringue);
    text-decoration: none;
}

.text-style1 a:hover {
    color : var(--chocolatnoir);
    font-size : 18px;
    transition:0.4 ease-in-out;
}

.text-style2 {
    display: inline-block;
    font-family: 'Droid Serif';
    margin-top: 10px;
    padding: 10px;
    border: 2px solid;
    margin-left: 10px;
}

.text-style2 a {
    color: var(--chocolat);
    text-decoration: none;
}

.text-style3 {
    font-size: 18px;
    font-weight: bold;
    opacity : 1;
}

.text-style3, .text-style4 {
    color: var(--chocolat);
    margin-top: 10px;
    font-family: 'Droid Serif';
}

.zone-filtre {
    margin-top: 10px;
    margin-bottom: 10px;
}

#filter {
    border: 2px solid;
    border-color: var(--chocolat);
    padding: 20px;
}

.table {
    display: table;
    padding: 10px;
}
    

/* ************************************************************************************************* */
/* RAPPEL DES TAILLES                                                                                */
/* ************************************************************************************************* */
/*
Breakpoint	        Class infix	        Dimensions
X-Small	               None	            0–576px
Small	                sm	            ≥576px
Medium	                md	            ≥768px
Large	                lg	            ≥992px
Extra large	            xl	            ≥1200px
Extra extra large	    xxl	            ≥1400px
*/