<span class="rating_hearts rating_0">
  <img src="" alt="">
    <span class='s' [ngClass]="{'active-low': note <= 0.5, 'active-high': note >= 1}">
      <i class="bi bi-heart"></i><i class="bi bi-heart-half"></i><i class="bi bi-heart-fill"></i>
    </span>
    <span class='s' [ngClass]="{'active-low': note > 1 && note<2, 'active-high': note >= 2}">
      <i class="bi bi-heart"></i><i class="bi bi-heart-half"></i><i class="bi bi-heart-fill"></i>
    </span>
    <span class='s' [ngClass]="{'active-low': note > 2 && note<3, 'active-high': note >= 3}">
      <i class="bi bi-heart"></i><i class="bi bi-heart-half"></i><i class="bi bi-heart-fill"></i>
    </span>
    <span class='s' [ngClass]="{'active-low': note > 3 && note < 3, 'active-high': note >= 4}">
      <i class="bi bi-heart"></i><i class="bi bi-heart-half"></i><i class="bi bi-heart-fill"></i>
    </span>
    <span class='s' [ngClass]="{'active-low': note > 4 && note < 5, 'active-high': note === 5}">
      <i class="bi bi-heart"></i><i class="bi bi-heart-half"></i><i class="bi bi-heart-fill"></i>
    </span>

    <span class="ms-5 me-0" id="score">{{note}} / 5</span>
                          
    <span class='r r0_5' data-rating='1' data-value='0.5' ></span>
    <span class='r r1' data-rating='1' data-value='1'></span>
    <span class='r r1_5' data-rating='1.5' data-value='1.5'></span>
    <span class='r r2' data-rating='2' data-value='2'></span>
    <span class='r r2_5' data-rating='2.5' data-value='2.5'></span>
    <span class='r r3' data-rating='3' data-value='3'></span>
    <span class='r r3_5' data-rating='3.5' data-value='3.5'></span>
    <span class='r r4' data-rating='4' data-value='4'></span>
    <span class='r r4_5' data-rating='4.5' data-value='4.5'></span>
    <span class='r r5' data-rating='5' data-value='5'></span>
  </span>