<!-- DETAIL DES PRODUITS  -->
<div id="DetailProduit" class="container-fluid d-flex vh-75">
    <div class="card my-3">
        <div [ngClass]="{'active': page === 1,'main': page === 2}">
            <div  class="top d-flex justify-content-between toggleicone">
                <i class="bi bi-list-ul"></i>
                <i class="bi bi-arrow-right" (click)="onNextPage()"></i>
            </div>
            <h1 class="card-title" [ngStyle]="{opacity: getDispo()}">
                {{ titreDetail }} 
            </h1>            
            <img id="mainImg" [src]="urlImg" class="card-img-top mt-3" [alt]="textAltImg" title="Illustration du produit"/>
            <div class="price">
                <h2>{{ prixDetail }} €</h2>
            </div>
            <p id="disponibilite"><span *ngIf="dispo===false">* Indisponible </span></p>
            <div class="input_text d-flex justify-content-between">
                <p class="card-text text-style4">{{ description}}</p>
            </div>
            <div class="input_text d-flex justify-content-between pt-3">
                <p class="card-text"><app-notation [note]="this.noteArticle"></app-notation></p>
            </div>
            <div class="input_div mt-4">
                <div class="input_text d-flex justify-content-between">
                    <p><i class="bi bi-heart-fill"></i>Chocolat</p>
                    <p><span *ngIf="lait===true">Lait&nbsp;</span></p>
                    <p><span *ngIf="blanc===true">Blanc&nbsp;</span></p>
                    <p><span *ngIf="noir===true">Noir&nbsp;</span></p>
                </div>
                <div class="input_text input_text d-flex justify-content-between">
                    <p>
                        <i class="bi bi-heart-fill"></i>
                        <span *ngIf="noixNoisette===true">Noisettes&nbsp;</span>
                        <span *ngIf="caramel===true">Caramel&nbsp;</span>
                        <span *ngIf="fruit===true">Fruit&nbsp;</span>
                        <span *ngIf="croquant===true">Croquant&nbsp;</span>
                        <span *ngIf="coulant===true">Coulant&nbsp;</span>
                        <span *ngIf="fondant===true">Fondant&nbsp;</span>
                        <span *ngIf="fourre===true">Fourré&nbsp;</span>
                    </p>
                </div>
                <div class="input_text input_text d-flex justify-content-between">
                    <p><i class="bi bi-heart-fill"></i>liqueur</p>
                    <p *ngIf="liqueur===true">Oui</p>
                    <p *ngIf="liqueur===false">Non</p>
                </div>
            </div>
        </div><!-- /MAIN ACTIVE -->
            
        <div [ngClass]="{'active': page === 2,'main': page === 1}">
            <div class="top d-flex justify-content-between toggleicone">
                <i class="bi bi-arrow-left" (click)="onPrevPage()"></i>
                <i class="bi bi-list-ul"></i>
            </div>
            <div class="small_content mt-4 mb-5 d-flex justify-content-between">
                <img [src]="urlImg" class="card-img-top mt-3" [alt]="textAltImg" title="Illustration du produit"/>
                <div class="small_content">
                    <p id="disponibilite"><span *ngIf="dispo===false">* Indisponible </span></p>
                    <h1 class="card-title" [ngStyle]="{opacity: getDispo()}">
                        {{ titreDetail }} 
                    </h1>    
                </div>
            </div>
            <div class="input_div mt-2">
                <div class="input_text d-flex justify-content-between">
                    <p><i class="bi bi-heart-fill"></i>Chocolat</p>
                    <p><span *ngIf="lait===true">Lait&nbsp;</span></p>
                    <p><span *ngIf="blanc===true">Blanc&nbsp;</span></p>
                    <p><span *ngIf="noir===true">Noir&nbsp;</span></p>
                </div>
                <div class="input_text input_text d-flex justify-content-between">
                    <p>
                        <i class="bi bi-heart-fill"></i>
                        <span *ngIf="noixNoisette===true">Noisettes</span>
                        <span *ngIf="caramel===true">&nbsp;Caramel</span>
                        <span *ngIf="fruit===true">&nbsp;Fruit</span>
                        <span *ngIf="croquant===true">&nbsp;Croquant</span>
                        <span *ngIf="coulant===true">&nbsp;Coulant</span>
                        <span *ngIf="fondant===true">&nbsp;Fondant</span>
                        <span *ngIf="fourre===true">&nbsp;Fourré</span>
                    </p>
                </div>
                <div class="input_text input_text d-flex justify-content-between">
                    <p><i class="bi bi-heart-fill"></i>liqueur</p>
                    <p *ngIf="liqueur===true">Oui</p>
                    <p *ngIf="liqueur===false">Non</p>
                </div>
            </div>
            <div class="input_text d-flex justify-content-between mt-0">
                <p class="card-text">Ingrédients</p>
                <p  id="ingredients" class="card-text">{{ingredients}}</p>
            </div>
            <div class="buy mt-4 d-flex justify-content-center">
                <!--<form class="mt-4" action="" title="Ajouter l'article au panier" [ngClass]="{'show': dispo===true, 'hidden' : dispo===false}">
                    <label for="nbArticles" class="d-block">Nombre d'articles</label>
                    <input type="number" name="nbArticles" id="nbArticles" min="0" max="100" title="Nombre d'articles à ajouter" placeholder="0" [(ngModel)="articleToAdd"] required/>
                    <a class="ajouter">Ajouter au panier</a>

                    <input title ="Nombre d'article"  type="number" id="qte" value={{nbArticles}}>
                </form>-->
            </div><!-- /BOUTON -->
        </div><!-- /MAIN -->
    </div> <!-- /CARD -->
</div><!-- /CONTAINER -->