  .carousel-item img {
    object-fit: cover;
    max-height: 450px;
    border-radius: 15px 15px 0 0 ;
    border : 5px ridge var(--miel);
  }

  #carousel-thumbs {
    background: var(--chocolat);
    bottom: 0;
    left: 0;
    padding: 10px 50px;
    right: 0;
    border-radius: 0 0 15px 15px;
    animation: mymove 10s infinite;
    border : 5px ridge var(--miel);
  }

  /*@keyframes mymove {
    from {background: var(--chocolat);}
    to {background: url("/../assets/images/ganache.jpg"); background-size: cover;
      background-repeat: no-repeat;}
  }*/

  #carousel-thumbs img {
    border: 5px solid transparent;
    border-radius: 15px;
    cursor: pointer;
  }

  #carousel-thumbs img:hover {
    border-color: var(--miel);
    box-shadow : inset 100px 13px 15px var(--meringue);
    transition: all 0.70s ease-in-out;
  }

  #carousel-thumbs .selected img {
    border-color: var(--pateasucre);
  }

  #carousel-thumbs .selected img:hover {
    border-color: var(--meringue);
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
  }