    <!-- CARDS : FICHE PRODUIT-->
    <div id="lstProduits" class="container-fluid">
        <div class="row m-3">
            <div class="card m-3">
                <a routerLink ="/produit/{{ idProduit }}">
                    <img [src]="urlImg" class="card-img-top mt-3" [alt]="textAltImg" title="Illustration du produit"/>
                </a>
                <div class="card-body">
                    <span *ngIf="dispo===false">* Indisponible </span>
                    <h1 class="card-title" [ngStyle]="{opacity: getDispo()}">
                        {{ titreArticle }} 
                    </h1>
                    <p class="card-text tarif">{{ prixArticle }} €</p>
                    <p class="card-text"><app-notation [note]="this.noteArticle"></app-notation></p>
                    <!--<form class="mt-4" action="" title="Ajouter l'article au panier" [ngClass]="{'show': dispo===true, 'hidden' : dispo===false}" (ngSubmit)="onAjouter(fAjout)" #fAjout="NgForm">
                        <label for="nbArticles" class="d-block">Nombre d'articles</label>
                        <input type="number" name="nbArticles" id="nbArticles" title="Nombre d'articles à ajouter" placeholder="0" [(ngModel)="articleToAdd"] required/>
                        <a class="ajouter">Ajouter au panier</a>
                    </form>-->
                </div>
            </div> <!-- /CARD -->
        </div> <!-- /row -->
    </div> <!-- /col -->
    <div class="height-100 container d-flex justify-content-center align-items-center">
